/* ---------------
--- Vista REGALO ---
---------------- */

.col-md-4 {
  width: 33.33333333%;
  display: block;
}
.caja_regalo{
  width: 100%;
  height: 100%;
  /* width: 300px;
  height: 300px; */
  overflow: hidden;
    margin-bottom: 30px;
    background-color: #ebeff0;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.caja_regalo .padre_imagen{
  width: 100%;
  height: 100%;
}

.padre_imagen .imagen{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.padre_imagen .imagen .filtro_imagen{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #daccc794;
}

  .caja_regalo:hover .padre_imagen .imagen {
    filter: blur(3px);
}

  .caja_regalo:hover .padre_imagen .imagen .filtro_imagen{
    background-color: #daccc7c2;
}

.texto_imagen,
.texto_imagen_hover{
  width: 100%;
  top: calc(100% - 82px);
  left: 0px;
  background-color: rgb(208 158 155 / 50%);
  background-color: rgb(110 108 108 / 50%);
}

.texto_imagen_hover{
  width: 100%;
  height: 100%;
  top: calc(100%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.caja_regalo:hover .texto_imagen{
  opacity: 0;
}

.caja_regalo:hover .texto_imagen_hover{
  top: 0px;
  opacity: 1;
  transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
}

.texto_imagen .padding,
.texto_imagen_hover .padding{
  padding: 15px;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

.limitar_3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.nombre_categoria{
  /* padding: 10px 0px; */
}

.texto_imagen p,
.texto_imagen_hover p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: var(--fam_general);
  font-weight: 400;
}

.nombre_categoria p:first-child{
  margin-bottom: 0px;
}

.texto_imagen .nombre_actividad,
.texto_imagen_hover .nombre_actividad {
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
}

.texto_imagen .nombre_actividad {
  margin-bottom: 0px;
}

.descripcion_precio  {
  text-align: center;
}

.descripcion_precio button {
  padding: 6px 14px;
  margin-top: 10px;
}

.descripcion_precio p:first-child  {
  margin: 15px 10px;
}

.descripcion_precio p.precio {
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}



/* .gift-card-container {
  display: inline-block;
  width: 30%;
  margin: 10px;
} */

/* .gift-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
} */

/* .gift-image {
  width: 100%;
  height: auto;
} */