/* ---------------
--- componente GIFT LIST ---
---------------- */
.lista_regalos{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}

.row_regalos {
    width: 100% !important;
    background-color: #f7eeec;
}

.row_lista_regalos:after, 
.row_lista_regalos:before {
    display: table;
    content: " ";
}

.row_regalos .colm {
    padding: 10px !important;
    /* border: 1px solid blueviolet; */
}
/* .row_regalos{
    width: 100%;
    height: 300px;
    border: 1px solid red;
} */