/* ---------------
---- WEB BODA ----
- Pagina Regalos -
---------------- */

.section_regalos {
    width: 100%;
    background-color: #f6eeec;
    padding: 50px 0;
}

.row_regalos {
    width: 100%;
    /* border: 1px solid red; */

}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.page_regalos .banner_interior {
    height: 400px;
}

.page_regalos .banner_interior .texto_banner {
    height: calc(100% - 90px);
}

.caja_regalo .padre_imagen .imagen.regalo_forzado_1{
background-image: url('/cena_romantica.jpg')
}

.caja_regalo .padre_imagen .imagen.regalo_forzado_2{
background-image: url('/maquilladora.jpg')
}

.caja_regalo .padre_imagen .imagen.regalo_forzado_3{
background-image: url('/bajo_estrellas.jpg')
}
