/* -----------------------------
--- Lateral GESTION USUARIOS ---
------------------------------ */

.menu_gestion {
    width: 230px;
}


.menu_gestion .menubar-navigation > li {
    display: block;
    text-align: left;
}
.menu_gestion .menubar-navigation {
    margin: 0;
    padding: 2px;
    font-size: 110%;
    list-style: none;
    background-color: transparent;
    border: 0;
}

.menu_gestion .menubar-navigation > li > [role="menuitem"] {
    color: #6e6d6c;
    font-size: 20px;
    font-family: var(--fam-general);
    padding: 5px 10px;
    margin: 5px 0px;
    line-height: 25px;
    background-color: transparent;
}

.menu_gestion .menubar-navigation > li.active > [role="menuitem"] {
    color: #d0aeac;
}


.menu_gestion .menubar-navigation > li > [role="menuitem"]:focus, 
.menu_gestion .menubar-navigation > li > [role="menuitem"]:hover {
    background-color: transparent;
    padding: 5px 10px;
    margin: 5px 0px;
    color: #d0aeac;
}

/* linea_roja */
.linea_roja {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.linea_roja:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #d0aeac;;
    width: 3px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.linea_roja:hover:before,
.linea_roja:focus:before,
.linea_roja:active:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);

}


.menu_gestion li.active .linea_roja:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    color: #d0aeac;
}



.lateral .css-1gcg9uy-MuiPaper-root-MuiCard-root  {
    margin-top: 20px;
}