/* ---------------
--- LOGIN CARD ---
---------------- */


.css-1gcg9uy-MuiPaper-root-MuiCard-root {
    background-color: transparent;
    width: 90%!important;
    margin: 0 auto;
    box-shadow: none;
}