/* --------------------
--- Banner INTERIOR ---
----------------------- */

.banner_interior{
    width: 100%;
    height: 300px;
    /* background-color: red; */
}

.banner_interior .padre_imagen {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.banner_interior .padre_imagen .imagen {
    width: 100%;
    height: 100%;
    background-image: url(/pareja1.1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_interior .filtro_color {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #daccc794;
}

.banner_interior .texto_banner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: calc(100%);
}

.banner_interior .texto_banner .fecha_pareja {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-family: var(--familia_serif);
    margin: 0;
    line-height: 32px;
}